@import url("https://fonts.googleapis.com/css2?family=Lato&family=Yanone+Kaffeesatz&display=swap");

@import "swiper/css/bundle";

html {
  line-height: 1.15;
}

body {
  margin: 0;
  background-color: #f8f8f8;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

/*****************
 * ABOUT SECTION *
 *****************/
.about {
  margin: 159px 95px 101px 95px;
  height: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &__inner-name {
      font: normal normal 400 18px/56px Lato;
      letter-spacing: 2px;
      margin: 0 25px;
      text-transform: uppercase;
    }

    &__inner-title {
      font: normal normal 400 75px/60px Yanone Kaffeesatz;
      letter-spacing: 0px;
      text-align: left;
      margin: 0;
      padding: 0 25px;
      position: relative;
      text-transform: capitalize;
    }

    &__inner-title::before {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 391px;
      height: 42px;
      background: #e7e7e7;
      bottom: -10px;
      left: -0;
      z-index: -1;
    }

    &__inner-img {
      width: 100%;
      max-width: 268px;
      max-height: 210px;
    }
  }

  &-body {
    width: 100%;
  }

  &-slider {
    margin-bottom: 70px;

    &__card {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-header {
        max-height: 301px;
        text-align: center;
        margin-bottom: 18px;
      }

      &-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      &-name {
        font: normal normal 400 26px/50px Yanone Kaffeesatz;
        letter-spacing: 1px;
        min-height: 42px;
        text-align: left;
        margin-bottom: 2px;
        text-transform: uppercase;
      }

      &-position {
        font: normal normal 300 18px/24px Lato;
        letter-spacing: 0.5px;
        min-height: 24px;
        margin: 0;
        text-transform: capitalize;
      }

      &-img {
        margin: 0;

        img {
          width: 100%;
        }
      }
    }

    &__buttons--hide {
      visibility: hidden;
    }
  }

  @media (max-width: 600px) {
    margin: 72px 0 0 0;

    &-header {
      margin-bottom: 25px;
      justify-content: center;

      &__inner-text {
        text-align: center;
      }

      &__inner-img {
        display: none;
      }

      &__inner-name {
        font: normal normal normal 16px/56px Lato;
      }

      &__inner-title {
        font: 40px/60px Yanone Kaffeesatz;
      }

      &__inner-title::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 391px;
        height: 42px;
        background: #e7e7e7;
        bottom: -10px;
        left: -0;
        z-index: -1;
      }

      &__inner-image {
        display: none;
      }
    }

    &-body {
      padding: 0;
    }

    &-slider {
      margin-bottom: 40px;

      &__card-header {
        margin-bottom: 0;
      }

      &__card-body {
        align-items: center;
        position: relative;
        bottom: 40px;
      }

      &__pagination--hide {
        display: none;
      }

      &__buttons--hide {
        visibility: visible;
      }
    }
  }
}

/*****************
 * SWIPER SLIDER *
 *****************/
.swiper-pagination {
  width: 100px;
}

.swiper-pagination-bullet {
  background-color: #ec4133;
  height: 13px;
  width: 13px;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background-color: #ec4133;
  border-radius: 7px;
  left: 0;
  height: 13px;
  width: 26px;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ec4133;
  font-size: 32px;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  padding: 32px;
  position: absolute;
  top: 25%;
  width: 32px;
  height: 32px;
  scale: 0.32;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

/*****************
 * CTA SECTION *
 *****************/

.cta {
  background-color: #ec4133;
  width: 100%;
  height: 100%;
  max-height: 645px;
  text-align: center;

  &-divider {
    overflow: hidden;
    width: 100%;

    svg {
      position: relative;
      top: -1px;
      left: 0;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

    &__img {
      width: 100%;
      margin-bottom: 30px;
    }

    &__title {
      font: normal normal 400 65px/56px Yanone Kaffeesatz;
      color: #fff;
      margin-bottom: 27px;
      text-align: center;
    }

    &__description {
      font: normal normal normal 20px/30px Lato;
      color: #fff;

      span {
        text-transform: capitalize;
      }
    }
  }

  @media (max-width: 600px) {
    &-divider svg {
      left: -746px;
      width: auto;
    }

    &-content {
      margin-top: 35px;

      &__image {
        margin-bottom: 22px;
      }
      &__title {
        font: normal normal 400 40px/40px Yanone Kaffeesatz;
        margin: 0 40px 30px 40px;
      }

      &__description {
        margin: 0px 20px;
      }
    }
  }
}
